.c-menu {
    align-items: center;
    background: #333333;
    display: flex;
    padding: 0 1rem;
}
.c-menu__brand {
    color: #F2F2F2;
    display: block;
    margin: 0;
    text-decoration: none;
    text-transform: lowercase;
    transition: all .2s linear;
}
.c-menu__brand:hover {
    color: #FFFFFF;
    transform: scale(1.2);
}
.c-menu__list {
    margin: 0;
}
.c-menu__item {
    display: inline-block;
    list-style: none;
}
.c-menu__link {
    border-bottom: 5px solid transparent;
    color: #F2F2F2;
    display: block;
    padding: 1.75rem 1.5rem 1.3rem 1.5rem;
    text-align: center;
    text-decoration: none;
}
.c-menu__link:hover {
    border-bottom-color: #FF8080;
    background: rgba(0, 0, 0, .75);
}
.c-menu__icon {
    margin-right: .5rem;
}
