.#{$panel-prefix}-login
    align-items: center
    background: $color-primary
    display: flex
    height: 100vh
    justify-content: center
    position: absolute
    width: 100vw
    &__panel
        background: $color-background
        border: $border
        border-radius: 12px
        display: inline-block
        padding: 1.5rem
        width: 400px
    &__title
        @extend %full
        float: left
        font:
            size: 2.5rem
            weight: bold
        margin-bottom: 1rem
        text:
            align: center
            transform: lowercase
    &__icon
        margin-right: .5rem
        vertical-align: middle
    &__form
        clear: left
    &__data
        text-align: center
    &__button
        @extend %full
        background: $color-care
        border: none
        color: $color-background
        display: block
        margin-top: 1.5rem
        padding: .75rem
        transition: all .2s ease-in-out
        &:hover
            background: darken($color-care, 5%)
    &__feedback
        @extend %padding
        background: lighten($color-danger, 22%)
        border: $border-danger
        border-radius: 5px
        color: $color-danger
        text-align: center
        &___icon
            margin-right: .5rem