.#{$panel-prefix}-menu
    background: $color-primary
    height: 100vh
    position: fixed
    width: $menu-width
    &__title
        @extend %padding
        text:
            align: center
            transform: lowercase
    &__brand
        color: $color-background
    &__link
        border-left: 5px solid transparent
        color: $color-background
        display: block
        padding: .75rem 1rem
        &.is-active, &:hover
            background: rgba(0, 0, 0, .2)
            border-left-color: $color-danger
    &__icon
        margin-right: .5rem
