.#{$panel-prefix}-navbar
    @extend %padding
    background: $color-text-alt
    color: $color-secondary
    font-weight: bold
    &__link
        border: 1px solid
        border-radius: 5px
        color: #FDFDFD
        display: inline-block
        font-weight: 100
        margin-right: .5rem
        padding: .5rem .75rem
        &--new
            background: $color-truth
            border-color: $color-truth
            &:hover
                background: darken($color-truth, 7%)
    &__icon
        font-size: .8rem
        margin-right: .25rem