.pl-stats
    background: #A6A6A6
    margin-left: 250px
    padding: .5rem 1rem
    text-align: right
    width: calc(100% - 250px)

.pl-stats__item
    color: #FDFDFD
    display: inline
    margin-left: 1rem

.pl-stats__button
    background: transparent
    border: none
    color: inherit

.pl-stats__icon
    margin-right: .3rem
