.#{$app-prefix}-media
    background: $color-background
    border: $border
    border-radius: 5px
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1)
    margin:
        bottom: 3rem
        right: 1.5rem
    transition: all .15s linear
    width: calc(33.33% - 18px)
    &:nth-child(3n)
        margin-right: 0
    &:hover
        transform: translateY(-12px)
    &__picture
        background:
            position: center
            size: cover
        height: 270px
        width: 100%
    &__title
        border-bottom: $border
        color: $color-primary
        display: block
        font:
            size: 2rem
            weight: bold
        margin: 0
        padding-left: 1rem
        text-decoration: none
        transition: all .2s ease-in-out
        &:hover
            color: $color-danger
            letter-spacing: 5px
    &__content
        @extend %padding
        color: $color-secondary
        font:
            size: 1.1rem
            weight: 100
        line-height: 1.5
        text-align: justify
    &__link
        @extend %padding
        border: $border-danger
        border-radius: 4px
        display: block
        color: $color-danger
        font:
            size: 1.2rem
            weight: 100
        text:
            align: center
            decoration: none
        transition: all .3s ease-out
        &:hover
            background: $color-danger
            color: $color-background
    &__icon
        margin-right: .5rem
    &__footer
        @extend %padding
