.#{$app-prefix}-media
    background: $color-background
    border: $border
    border-radius: 5px
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1)
    margin:
        bottom: 3rem
        right: 1.5rem
    transition: all .15s linear
    width: calc(33.33% - 18px)
    &:nth-child(3n)
        margin-right: 0
    &:hover
        transform: translateY(-12px)
    &__figure
        background:
            color: rgba(0, 0, 0, .5)
            position: center
            size: cover
        height: 270px
        position: relative
        width: 100%
    &__title
        $title-gap: 2rem
        bottom: $title-gap
        color: $color-text
        display: block
        font:
            size: 2rem
            weight: bold
        left: $title-gap
        position: absolute