.pl-form__group {
    margin-bottom: 1rem;
}
.pl-form__text {
    color: #333333;
    font-weight: 700;
    text-transform: capitalize;
}
.pl-form__data {
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    color: #595959;
    font-weight: 100;
    padding: .5rem;
    width: 100%;
}
textarea.pl-form__data {
    height: 200px;
}
.pl-form__data:focus {
    box-shadow: 0 0 3px rgba(51, 204, 255, 2);
    border: 1px solid #0099FF;
}