.pl-table {
    border: 1px solid #DCDCDC;
    border-collapse: collapse;
    color: #595959;
    width: 100%;
}
.pl-table__header {
    background: #333333;
    color: #FDFDFD;
    font-size: 1.2rem;
}
.pl-table__header___column {
    border-bottom: 1px solid #DCDCDC;
    padding: .75rem .5rem;
    text-align: left;
    text-transform: capitalize;
}
.pl-table__header___column:last-child, .pl-table__body___column:last-child {
    text-align: center;
    width: 180px;
}
.pl-table__body___column {
    font-weight: 100;
    padding: .5rem;
}
.pl-table__link {
    border: 1px solid;
    border-radius: 5px;
    color: #FDFDFD;
    display: inline-block;
    font-size: .85rem;
    font-weight: 100;
    padding: .25rem .55rem;
}
.pl-table__link--edit {
    background: #FFD11A;
}
.pl-table__link--edit:hover {
    background: #E6B800;
}
.pl-table__link--delete {
    background: #FF8080;
}
.pl-table__link--delete:hover {
    background: #ff4d4d;
}
.pl-table__icon {
    margin-right: .25rem;
}