.pl-form__group {
    width: 100%;
}
.pl-form__groupData {
    border: 1px solid #DCDCDC;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #595959;
    font-weight: 100;
    padding: 1rem;
    width: 100%;
}
.pl-form__groupData:focus {
    box-shadow: 0 0 3px rgba(51, 204, 255, 2);
    border: 1px solid #0099FF;
}
.pl-form__groupElement {

}